h1 {
  color: #fff;
}

.app-wrapper {
  position: relative;
  max-width: calc(1200px + 32px);
  min-height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  padding-top: 160px;
}
