.search__page {
  margin-bottom: 58px;
}

.search__page-title {
  margin-bottom: 16px;
}

.search__page-paragraph {
  margin-bottom: 24px;
  max-width: 590px;
}

.search__page-input {
  display: flex;
  gap: 6px;
  margin-bottom: 80px;
}
