.wrap {
  position: relative;
}

.wrap img {
  position: absolute;
  color: var(--grey-600);
  left: 16px;
  top: calc((64px - 24px) / 2);
}

.input {
  width: 384px;
  height: 64px;
  line-height: 62px;
  padding: 0 16px;
  border-radius: 12px;
  border: 1px solid var(--grey-700);
  background: var(--black-10);
  color: var(--grey-600);
  font-size: 14px;
}

.input__icon {
  padding-left: calc(16px + 24px + 16px);
}

.input__error {
  background-color: rgba(225, 43, 43, 0.35);
}
