.search {
  position: relative;
}

.search__icon {
  position: absolute;
  color: var(--grey-600);
  left: 16px;
  top: calc((64px - 24px) / 2);
}

.search__input {
  width: 384px;
  height: 64px;
  line-height: 62px;
  padding: 0 16px;
  border-radius: 12px;
  border: 1px solid var(--grey-700);
  background: var(--black-10);
  color: var(--grey-600);
  font-size: 14px;
}

.search__input--icon {
  padding-left: calc(16px + 24px + 16px);
}
