.navbar__link {
  color: var(--grey-200);
  text-decoration: none;
  margin-right: calc(32px + 16px);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar__link-icon {
  margin-left: 8px;
}

.navbar__link-label {
  width: 24px;
  height: 24px;
  background-color: #7b6ef6;
  border-radius: 50%;
  color: #fff;
  margin-left: 8px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: #fff;
}
