.spotBlue {
  position: absolute;
  left: 250px;
  top: 540px;
  background: #0c4265;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 0 0 460px 205px #0c4265;
  z-index: -1;
  transform: rotate(15deg);
}
